<head>
  <title>test-upload-s3</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}
  {{> cropImageModal}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  <form id="userPhotoUploadFrm">
                                            <input type="file" id="fileSelect" name="fileSelect"/>
                                        </form>
</template>
<template name="cropImageModal">
    <div class="modal fade" id="cropper-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="loadingCropImage">
                        <div>Loading... <i class="fa fa-spin fa-spinner"></i></div>
                    </div>
                    <div id="cropper-section">
                        <img src="#">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="progress">
                        <div id="upload-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            0%
                        </div>
                    </div>
                    <button type="button" id="onUploadPhoto" data-loading-text="Uploading..." class="btn btn-primary disabled" autocomplete="off">Save changes</button>
                    <button type="button" id="closeCropImageModal" data-loading-text="Close" class="btn btn-danger disabled" autocomplete="off">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
